
#maindiv {
	margin: 80px auto auto auto;
	width: 600px;
	background-color: #FEF7BE;
	padding: 20px 50px 60px 50px;
	border-radius: 50px;
	text-align: center;
}

#imagediv {
	text-align: center;
}

#imagediv img {
	margin-top: 20px;
	margin-bottom: 15px;
	max-width:50%;
	border-radius: 20px;
}

#infodiv {
	text-align: center;
	margin-bottom: 40px;
}

#maindiv a {
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	background-color: white;
	text-decoration: none;
	color: gray;
}

#maindiv a:hover {
	color: gray;
}