* {
  box-sizing: border-box;
}

body{
  background-color: #FFF;
  margin: 0;
  font-family: 'Bitter', serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

#page-title {
  margin-top: 9vh;
}

#page-title h2 {
  text-align: center;
  color: gray;
}

#navbar {
  z-index: 2;
  position: fixed;
  background-color: #000;
  top: 0px;
  width:100%;
  height: 45px;
}

#navbar > ul {
  float: right;
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}

#navbar > ul > li {
  background-color: rgba(0,0,0,0);
  display: inline-block;
  padding: 12px;
}

#navbar > ul > li:hover {
  background-color: #222;
}

#navbar > ul > li a {
  color: #FFF;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  display: block;
}

#logo img {
  margin-left: 6%;
  height: 45px;
}

#profile {
  position: relative;
  float: right;
  display: inline-block;

  margin-left: 17px;
  margin-right: 5.5%;

  width: 45px;
  height: 45px;
}

#profile img {
  width: 25px;
  height: 25px;
  margin-top: 9px;
}

#profile > label {
  position:absolute;
  width:45px;
  height:45px;
  top:0;
  left: 0;
  z-index: 1;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
}

#profile > label:hover {
  background-color: #222;
  cursor: pointer;
}

#profile > input {
  display: none;
}

#profile-check:checked~#profile-menu-container {
  max-height: 500px;
}

#profile:hover #profile-menu-container {
  max-height: 500px;
}

#profile-check:checked~label {
  background-color: #222;
}

#profile-menu-container {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;

  width: 250px;

  z-index: 5;
}

#profile-menu {
  width: 100%;
  height: 210px;

  padding: 0;

  background-color: #EEE;

  border: solid;
  border-width: 1px;
  border-color: #222;

  color: #fff;
}


#profile-menu > span {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
}

#profile-menu h3 {
  margin: 7px 5px;
}

#profile-menu ul {
  position: absolute;
  top: 50px;

  width:100%;

  display: block;
  padding: 0;
  margin: 0;
}

#profile-menu li {
  display: block;
  position: relative;

  height: 44px;
}

#profile-menu li > a {
  position: relative;
  display: block;
  color: #111;
  text-decoration: none;
}


#profile-menu li > a > span {
  position:absolute;
  width:100%;
  height:50px;
  top:0;
  left: 0;
  z-index: 1;

  padding: 12px 20px;
}

#profile-menu li:hover {
  background-color: #BBB;
  cursor: pointer;
}

#profile-menu li:hover span{
  text-decoration: underline;
}


#profile-menu > a {
  position: absolute;
  color: #EF9000;
  right: 10px;
  bottom: 7px;
  text-decoration: none;
}

#profile-menu > a:hover {
  text-decoration: underline;
}

/*    UNCOMMENT FOR A TOOLTIP

#profile-check:checked~#profile-menu-container {
  padding-top: 20px;
}

#profile-menu-container:after{
  position: absolute;
  top: 0;
  right: 15%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: #FFF;
  content: "";
}*/


#main {
  padding-top: 45px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#footer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 60px;
  background-color: #CCC;

  bottom: 0;
}

#footer-copyright {
  font-size: 12px;
  position: absolute;
  right: 2px;
  bottom: 2px;
}


#footer-social {
  margin-left: 20vw;
}

#footer-social img {
  display: none;
  width: 40px;
  margin: 0 5px;
}

#footer-tagline a {
  color: #000;
  font-size: 16px;
}

#footer-tagline p {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
