#block-container {

  position: absolute;
  background-color: #DDD;
  display: table;
  left: -9999px;
  right: -9999px;
  margin: auto;

  width: 95vw;
  max-width: 1000px;
  height:500px;

  align-items: center;

}

#borrowed, #owned {
  width: 48%;
  margin: 1%;
  display: inline-block;
  height:500px;


  background-color: #EEE;

  padding: 10px;
  border-radius: 5px;
}

.book{
  width: 400px;
  display: inline-block;
}
