{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static',filename='add_book.css') }}">
    <title>Add books</title>
{% endblock %}
{% block container %}
  <div id="maindiv">
    <h2>Add Book</h2>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      
          <div class = "form-input">
              {{ form.bookname.label() }}
              {% if form.bookname.errors %}
                  {{ form.bookname() }}
              <div>
                  {% for error in form.bookname.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.bookname() }}
              {% endif %}
          </div>
          <div class = "form-input">
              {{ form.author.label() }}
              {% if form.author.errors %}
                  {{ form.author() }}
              <div>
                  {% for error in form.author.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.author() }}
              {% endif %}
          </div>
          <div class = "form-input">
              {{ form.numpages.label() }}
              {% if form.numpages.errors %}
                  {{ form.numpages() }}
              <div>
                  {% for error in form.numpages.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.numpages() }}
              {% endif %}
          </div>
          
          <div class = "form-input">
              {{ form.img.label() }}
              {% if form.img.errors %}
                  {{ form.img() }}
              <div>
                  {% for error in form.img.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.img() }}
              {% endif %}
          </div>
          <div id="form-select">
              {{ form.condition.label() }}
              {% if form.condition.errors %}
                  {{ form.condition() }}
              <div>
                  {% for error in form.condition.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                    {{ form.condition() }}
              {% endif %}
            </div>
          <div id="submit-div">
            {{ form.submit() }}
          </div>   
    </form>
  </div>
{% endblock %}
