{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static',filename='carousel.css') }}">
    <title>Book Display</title>

{% endblock %}

{% block container %}
  <div id = 'page-title'>
    <h2>Explore the available books</h2>
  </div>

  <div class="slideshow-container">

    {% for book, name, author, availability in books %}
    <div class="mySlides fade" id = "carousel">
      <div class="numbertext">{{loop.index}} / {{loop.length}}</div>
      <img src="{{ url_for('static',filename='resources/alternative_book_cover.svg') }}">
      <div id = "book-info">

          <h1>{{name}}</h1>
          <h2>By {{author}}</h2>
          <p><strong>Region:</strong> {{book.region}}</p>
          <p><strong>Available:</strong> {{availability}}</p>
          <p><strong>Condition:</strong> {{book.condition}}</p>

            <!-- Will keep this strcture as a comment because I think it is very good
              and a nice alternative that we may want to have as a display option. -->
            <!-- E.g., something like, display as a carousel if you want, but also as a list -->
          	<!-- <table style="width:80%">
          		<tr>
          			<th>Title</th>
          			<th>Region</th>
          			<th>Availability</th>
          			<th></th>
          		</tr>
          		{#% for book, name in books %#}
          		  <tr>
          		    <th>{{name}}</th>
          		    <th>{{book.region}}</th>
          		    <th>{{book.availability}}</th>
          		    <th><a href= {{ url_for('borrowing_request',book_id=book.id) }}>Borrow</a></th>
          		  </tr>
          		  {#% endfor %#}
            </table> -->
    </div>
      {% if availability and (book.owner_id != user.id) %}
        <div class="text"><a href=" {{ url_for('borrowing_request',book_id=book.id) }} ">Borrow</a></div>
      {% endif %}
    </div>
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)"><img src="{{ url_for('static',filename='resources/arrow.svg') }}" id = 'arrow-left'></a>
    <a class="next" onclick="plusSlides(1)"><img src="{{ url_for('static',filename='resources/arrow.svg') }}" id = 'arrow-right'></a>

    </div>

    <!-- This buttons on the bottom were nice. May consider to use them later  -->
    <!-- <br> -->
    <!-- MAKE SURE TO UNCOMMENT THE PIECE OF JS WHICH INDICATES THE ACTIVE DOT -->
    <!-- <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div> -->



    <!-- Carousel Script -->
    <script>
      var slideIndex = 0;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n >= slides.length) {
          slideIndex = 0
        }
        if (n < 0) {
          slideIndex = slides.length-1
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex].style.display = "block";
        //dots[slideIndex-1].className += " active";
      }
      </script>

{% endblock %}
