{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static',filename='profile.css') }}">
    <title> {{ current_user.id }} </title>

{% endblock %}

{% block container %}
  <div id = 'page-title'>
    <h2>Welcome to your bookshelf, {{user.username}}</h2>
  </div>

  <div id = 'block-container'>
    <div id=borrowed>
      <h1> Borrowed Books </h1>
      {% for name, author, owner, ownerID in borrowed %}
        <div id = 'book'>
          {{ name }} <br>
          {{ author }} <br>
          {{ owner }} <br>
        </div>
      {% else %}
        <div id = 'empty'>
          You are not currently borrowing any books
        </div>
      {% endfor %}
    </div>

    <div id=owned>
      <h1> My Books </h1>
      {% for name, author, status in owned %}
        <div id = 'book'>
          {{ name }} <br>
          {{ author }} <br>
          {{ status }}
        </div>
      {% else %}
        <div id = 'empty'>
          You do not currently own any books
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
