<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
</head>
<body>
<table style = "width:80%">
    <h2>Requests sent</h2>
    <tr>
        <td>Title</td>
        <td>Start date</td>
        <td>End date</td>
        <td>Book owner</td>
        <td>Status</td>
    </tr>
    {% for request, book_name, book_owner in requests_sent %}
    <tr>
        <td>{{book_name}}</td>
        <td>{{request.startdate}}</td>
        <td>{{request.enddate}}</td>
        <td>{{book_owner}}</td>
        <td>{{request.status}}</td>
        {% if request.status == "lender_confirmed" %}
            <th><a href={{ url_for('borrower_confirm', request_id=request.id) }}>Borrower Confirm</a></th>
            <th><a href={{ url_for('cancel_request', request_id=request.id) }}>Cancel Request</a></th>
        {% endif %}

        {% if request.status == "open"%}
            <th><a href={{ url_for('cancel_request', request_id=request.id) }}>Cancel Request</a></th>
        {% endif %}
        {% if request.issue == False %}
            <th><a href={{ url_for('issue_raise', request_id=request.id) }}>Raise Issue</a></th>
        {% else %}
            <th><a href={{ url_for('issue_resolve', request_id=request.id) }}>Resolve Issue</a></th>
        {% endif %}
    </tr>
    {% endfor %}
</table >
<table style = "width:80%">
    <h2>Requests received</h2>
    <tr>
        <td>Title</td>
        <td>Start date</td>
        <td>End date</td>
        <td>Book owner</td>
        <td>Status</td>
        <td></td>
    </tr>
    {% for request, book_name, borrower in requests_received %}
    <tr>
        <td>{{book_name}}</td>
        <td>{{request.startdate}}</td>
        <td>{{request.enddate}}</td>
        <td>{{borrower}}</td>
        <td>{{request.status}}</td>
        {% if request.status == 'open'%}
            <th><a href={{ url_for('lender_confirm', request_id = request.id) }}>Accept</a></th>
            <th><a href={{ url_for('reject_request', request_id = request.id) }}>Reject</a></th>
        {% endif %}

        {% if request.status == "borrower_confirmed" %}
            <th><a href={{ url_for('return_confirm', request_id = request.id) }}>Confirm Return</a></th>
        {% endif %}

        {% if request.status == "pending cancel"%}
            <th><a href={{ url_for('cancel_request', request_id=request.id) }}>Confirm Canceling Request</a></th>
        {% endif %}

        {% if request.status == "lender_confirmed"%}
            <th><a href={{ url_for('cancel_request', request_id=request.id) }}>Cancel Request</a></th>
        {% endif %}

        {% if request.issue == False %} <!-- If this flag is False, then the either user can raise an issue -->
            <th><a href={{ url_for('issue_raise', request_id=request.id) }}>Raise Issue</a></th>
        {% else %} <!-- Either user can resolve it too -->
            <th><a href={{ url_for('issue_resolve', request_id=request.id) }}>Resolve Issue</a></th>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</body>
</html>