{% extends 'base.html' %}

{% block head %}
    <title>Add books</title>
{% endblock %}

{% block container %}
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset>
          <legend>Add Books</legend>
          <div>
              {{ form.bookname.label() }}
              {% if form.bookname.errors %}
                  {{ form.bookname() }}
              <div>
                  {% for error in form.bookname.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.bookname() }}
              {% endif %}
          </div>
          <div>
              {{ form.author.label() }}
              {% if form.author.errors %}
                  {{ form.author() }}
              <div>
                  {% for error in form.author.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.author() }}
              {% endif %}
          </div>
          <div>
              {{ form.numpages.label() }}
              {% if form.numpages.errors %}
                  {{ form.numpages() }}
              <div>
                  {% for error in form.numpages.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.numpages() }}
              {% endif %}
          </div>
          <div>
              {{ form.condition.label() }}
              {% if form.condition.errors %}
                  {{ form.condition() }}
              <div>
                  {% for error in form.condition.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
                  {{ form.condition() }}
              {% endif %}
          </div>
      </fieldset>
      <div>
          {{ form.submit() }}
      </div>
  </form>
{% endblock %}
